@import "_variables.scss";
@import "_fonts.scss";

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    color:$black;
    font-family: 'Roboto', sans-serif;
}

.bg-darken {
    background-color: $ab-darken;
}

header {
    .logo {
        max-width: 350px;
        margin: 0 auto;
        padding: 30px;
        img {
            width: 100%;
        }
    }
}
.navbar {
    height: 95px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
    color: $white;
    font-family: 'Dynar';
    .nav {
        width: 100%;
        display: flex;
        justify-content: center;
        .nav-item {
            .nav-link {
                color: $white;
                font-size: 36px;
                text-transform: uppercase;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}
section.water {
    padding:38px 0;
    .row {
        background-image: url(../images/Sect1-bg.png);
        background-repeat: repeat;
        padding: 65px 0;
        img {
            display: block;
            margin: 0 auto;
            margin-top: 105px;
            margin-bottom: 30px;
        }
        h1 {
            font-size: 48px;
           
            text-align: center;
            margin-bottom: 50px;
        }
        p {
            font-size: 24px;
            margin-bottom: 25px;
        }
    }
}
section.composition {
    padding:38px 0;
    background-color: $bg-section2;
    .row {
        background-image: url(../images/Sect2-inner-bg.png);
        background-repeat: repeat;
        padding: 30px 0;
        img {
            display: block;
            margin: 0 auto;
        }
        h2 {
            font-size: 48px;
            text-align: center;
            margin-bottom: 50px;
        }
        p {
            font-size: 24px;
            margin-bottom: 25px;
            padding-left: 80px;
        }
    }
}
section.dispensers {
    padding: 38px 0;
    h2 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 50px;
    }
    .slider-item {
        width: 360px;
        height: 460px;
        border: 2px solid $ab-darken;
        padding: 10px 30px;
        img {
            max-width: 300px;
            display: block;
            width: 100%;
            margin: 0 auto;
        }
        .button {
            display: block;
            color: $white;
            text-decoration: none;
            padding: 12px 50px;
            line-height: 1;
            font-family: Roboto;    
            font-size: 40px;
            margin: 15px auto;
            background-color: $ab-lighter;
            text-align: center;
            &:hover {
                background-color: $ab-darken;
                text-decoration: none;
            }
        }
    }
}
.footer {
    background-color: $ab-darken;
    padding-top: 38px;
    &__inner {
        border-top: 1px solid $ab-lighter;
        border-bottom: 1px solid $ab-lighter;
        padding: 35px 0 45px;
        color: $white;
        p {
            font-size: 24px;
        }
        .social-buttons {
            display: flex;
            justify-content: center;
            a {
                font-size: 50px;
                color: $white;
                margin:0 19px;
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
        .contacts {
            margin-top: 20px;
            font-size: 40px;
            line-height: 1.2;
            a {
                font-size: 40px;
                color: $white;
                margin:0 19px;
                font-family: Roboto;
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
    &__copyright {
        padding: 26px 0;
        text-align: center;
        color:$white;
        p {
            margin:0;
            font-family: "Open Sans";
            font-size: 24px;
        }
    }
}